doctype html
html
    head
        title MyTours #{tour}
        link(rel='stylesheet' herf='css/style.css')
        link(rel='shortcut icon' type='image/png' herf='img/favicon.png')

    body
        h1= tour
        h2= user.toUpperCase()

        - const x = 9;
        h2= 2 * x

        p some random text